body{
    background-color: rgb(139,0,0);
}
h1{
    color: white;
    font-family:"Anton", sans-serif;
    text-transform: uppercase;
    font-size: 50px;
}
p{
    color: white;
    font-family: "Open Sans", sans-serif;
}
h3{
    color: rgb(224, 192, 132);
    font-family: 'Times New Roman', Times, serif;
    text-transform: uppercase;
}
h1, p, h3{
    text-align: center; 
}